select{
    color: greenyellow;
    background-color: green;
}
body{
    background-color: greenyellow;
    
}
button{
    color: greenyellow;
    background-color: green;
    border-radius: 40px;
    padding: 20px;
    transform: translate(5px, 20px); /* X = 150px, Y = 150px */
}
.valor{
    color: green;
}

h2{
    background-color: green;
    padding: 40px;
    font-size: 200%;
    border-radius: 10px 0 20px 0;
    width: 70%;
}

.imagem-movida {
  transform: translate(16px, -600px); /* X = 150px, Y = 150px */
}

  img{
    height: 140px;
    border-radius: 5%;
  }

    .container {
      text-align: center;
      background-color: rgb(139, 219, 18);
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      max-width: 500px;
      height: 500px;
      transform: translate(0px,-150px); /* X = 150px, Y = 150px */
    }

.foto1{
    transform: translate(500px, 800px) rotate(10deg);
    border: solid 
}
.foto2{
    transform: translate(-300px, 600px) rotate(-10deg);
    border: solid;
}
.foto3{
    transform: translate(-600px, 400px) rotate( -20deg); 
    border: solid;
}